*{
    margin: 0;
    padding: 0;
}
/*Header*/
.header{
    background-image: url("images/Object.png");
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header .text{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.header .texttwo{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}
.header .text button{
    background-color: #C271FF;
    width: 162px;
    height: 42px;
    border-radius: 50px;
    color: white;
    border-color: #C271FF;

}
.text-one{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
/* Nav */
.nav {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 150px;
}
.nav-logo{
    display: flex;
    flex-direction: row;
}
.nav-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}
.nav-text p{
    color: white;
    margin-left: 20px;
}
/* Person Name */
.personName{
    display: flex;
    background-color: #C271FF;
    justify-content: center;
}
.personName-one{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-top: px;
}
.personName-two{
    width: 75%;
    color: white;

/* Most Popular tutorials */
}.sectionTwo {
    display: flex;
    flex-direction: column;
}
.sectionTwo-text{
    text-align: center;
}
.sectionTwo-pics{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    margin: 60px;

}
.sectionTwo-pics p{
    margin-top: 20px;
    color: black;
   
}
.sectionTwo-pics p:nth-child(4){
    margin-top: 10px;
}
.sectionTwo-pics span{
    margin-top: 50px;
}
.sectionTwo-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 300px;
}

/* Free Membership */
.freemember {
    display: flex;
    flex-direction: column;
    background-color: #071629;
    color: white
    
}
.freemember-text{
    text-align: center;
    margin-top: 40px;
}
.freemember-pics{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    margin: 60px;

}
.freemember-pics p{
    margin-top: 20px
}
.freemember-pics p:nth-child(4){
    margin-top: 10px;
}
.freemember-pics span{
    margin-top: 50px;
}
.freemember-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.freemember-child img{
    margin-bottom: 20px;
}
/* F.A.Q */
.faq{
    display: flex;
    flex-direction: column;
}
.faq-one{
    display: flex;
    justify-content: space-around;
}
.faq-two{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
/* Footer */
.footer{
    height: 209px;
    display: flex;
    flex-direction: column;
    background: #071629;
    color: rgb(129, 128, 128);
    text-align: center;
}
.footer p{
    color: gray;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}